agm-map {
    height: 400px;
}

.autocomplete-container {
    padding: 1rem 0 1rem 0;
    width: 50%;
}


img{
    width: 7rem;
}

.mat-calendar td, th {
    width: 14% !important;
}

.start{
    color: red;
}