<div id="new_branch" class="page-layout simple tabbed">

    <div id="" class="edit-dialog" fxLayout="row wrap">
        <form name="providerForm" class="d-flex flex-column   my-10" [formGroup]="categoryForm" novalidate>
            <h1 *ngIf="data">Edit Category</h1>
            <h1 *ngIf="!data">New Category</h1>
            <div class="new_branch">
                <mat-form-field appearance="outline" class="">
                    <mat-label>English name</mat-label>
                    <input matInput formControlName="name_en">
                    <mat-error>
                        English name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Arabic name</mat-label>
                    <input matInput formControlName="name_ar">
                    <mat-error>
                        Arabic name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Color</mat-label>
                    <input matInput formControlName="color">
                    <mat-error>
                        Color is required
                    </mat-error>
                </mat-form-field>
                <div *ngIf="data">
                    <h4>Types</h4>
                    <div class=" py-4 px-8 border types-list" *ngFor="let item of data?.category_types">
                        <div class="float-left">{{item?.type?.name_en}}</div>
                        <div class="float-right" style="cursor: pointer" (click)="deleteType(item)">X</div>
                    </div>
                </div>
                <div class="my-16">
                    <ng-multiselect-dropdown class="bg-white text-left"
                                             [placeholder]="'* Select Types'"
                                             [data]="types"
                                             [settings]="dropdownSettings"
                                             (onSelect)="onItemSelect($event)"
                                             (onDeSelect)="onItemDeSelect($event)"
                                             (onSelectAll)="onSelectAll($event)"
                    >
                    </ng-multiselect-dropdown>
                </div>
                <div class="mb-16">
                    <mat-radio-group aria-label="Select an option ">
                        <mat-radio-button class="mx-16" [checked]="f.active.value == 1" (click)="f.active.setValue(1)"
                                          value="1">Active
                        </mat-radio-button>
                        <mat-radio-button [checked]="f.active.value == 0" (click)="f.active.setValue(0)" value="0">
                            Unactive
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <app-cropped-image class="mt-24" [image]="f.image.value"
                                   (url)="f.image.setValue($event)"></app-cropped-image>
                <div class="col-md-12 mt-48">
                    <button mat-raised-button color="accent" class="submit-button " aria-label="ADD" *ngIf="data"
                            [disabled]="categoryForm.invalid || !categoryForm.controls.image.value "
                            (click)="onSubmit()">
                        Edit
                    </button>
                    <button mat-raised-button color="accent" class="submit-button " aria-label="ADD" *ngIf="!data"
                            [disabled]="categoryForm.invalid || !categoryForm.controls.image.value "
                            (click)="addNewCategory()">
                        Add
                    </button>
                    <button mat-raised-button color="accent" class="submit-button mx-8" aria-label="ADD"
                            (click)="close()">
                        Close
                    </button>
                </div>

            </div>

        </form>

    </div>


</div>