<div id="new_branch" class="page-layout simple tabbed">

    <div id="" class="edit-dialog" fxLayout="row wrap">
        <form name="providerForm" class="d-flex flex-column   my-10" [formGroup]="countryForm" novalidate>
            <h1 *ngIf="data">Edit Country</h1>
            <h1 *ngIf="!data">New Country</h1>
            <div class="new_branch">
                <mat-form-field appearance="outline" class="">
                    <mat-label>English name</mat-label>
                    <input matInput formControlName="name_en">
                    <mat-error>
                        English name is required
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100-p">
                    <mat-label>Arabic name</mat-label>
                    <input matInput formControlName="name_ar">
                    <mat-error>
                        Arabic name is required
                    </mat-error>
                </mat-form-field>
                
                <app-cropped-image class="mt-24" [image]="f.image.value" (url)="f.image.setValue($event)"></app-cropped-image>
                <div class="col-md-12 mt-48">
                    <button mat-raised-button color="accent" class="submit-button " aria-label="ADD" *ngIf="data"
                            [disabled]="countryForm.invalid || !countryForm.controls.image.value "
                            (click)="onSubmit()">
                        Edit
                    </button>
                    <button mat-raised-button color="accent" class="submit-button " aria-label="ADD" *ngIf="!data"
                            [disabled]="countryForm.invalid || !countryForm.controls.image.value "
                            (click)="addNewCountry()">
                        Add
                    </button>
                    <button mat-raised-button color="accent" class="submit-button mx-8" aria-label="ADD"
                            (click)="close()">
                        Close
                    </button>
                </div>

            </div>

        </form>

    </div>


</div>