

agm-map {
    height: 400px;
}

.map{
    display: flex ;
    flex-direction: column !important;
}

.autocomplete-container {
    padding: 1rem 0 1rem 0;
    width: 50%;
}

img{
    width: 20rem;
    height: auto;
}

.mat-calendar td, th {
    //width: 14% !important;
}



.time  {
    height: 3.5rem;
    background: whitesmoke;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
}

