.kitchens img{
    width: 8rem;
    object-fit: cover;
}

td , th{
    padding: 10px !important;
}

.kitchens .filter{
    display: flex;
    justify-content: space-between;
}

.kitchens .filter-left{
    display: flex;
    //justify-content: start;
}

//.kitchens .row{
//    justify-content: start;
//}

.kitchens form input{
    height: 4.5rem;
    border: 1px solid black;
    border-radius: 10px;
}



::ng-deep .kitchens .mat-form-field-wrapper{
    width: 80%;
}